@media only screen and (max-width: 1024px) {
    #ddnav_openbtn{
        visibility: visible !important;
    }
    .dtnav{
        visibility: hidden !important;
        width: 0;
    }
    
}

header{
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px rgba(255, 192, 203, 0) solid;
    height: 80px;
    z-index: 6;
    transition: 300ms all;
    color: #ffffff;
}
.header-a{

    margin: 20px 0 0 40px;
    height: 100%;
    width: 25%;
}
.header-img-white{
    height: 70%;
    visibility: visible;
    filter: drop-shadow(0px 0px 5px rgba(123, 121, 121, 0.8));
}
.header-img-black{
    height: 0;
    visibility: hidden;
}
.changeColorNav > .header-a > .header-img-black{
    height: 70%;
    visibility: visible;
    
}
.changeColorNav > .header-a > .header-img-white{
    visibility: hidden;
    height: 0;
}
.changeColorNav > #ddnav_openbtn{
    color: black;
}

.changeColorNav{
    background-color: rgb(249, 249, 241, 0.7);

}
.changeColorNav > .dtnav > a{
    color: black;
}
.changeColorNav > .dtnav > .dtnav_link{
    filter: none;
}
#ddnav_openbtn{
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-family: inherit;
    outline: none;
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--textcolorinverse);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    
}
.dtnav{
    visibility: visible;
}

.ddnav{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: transform 200ms ease-out, opacity 200ms ease-out;
    -ms-transition: transform 200ms ease-out, opacity 200ms ease-out;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.ddnav--open{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.ddnav_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    font-family: inherit;
    width: 1.25em;
    height: 1.25em;
    outline: none;
    background: none;
    border: none;
    border-radius: 50%;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.ddnav_link:active,
.ddnav_link:hover{
    background-color: rgba(255,255,255,0.1);
    -webkit-tap-highlight-color: transparent;   
}
.ddnav_close:active,
.ddnav_close:hover{
    background-color: rgba(255,255,255,0.1);
    -webkit-tap-highlight-color: transparent;   

}

.ddnav_link{
    line-height: 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 0 20px;
    background-color: none;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border-radius: 5px;
}

.dtnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    
}
.dtnav_link:last-child{
    margin-right: 10%;
}
.dtnav_link{
    text-decoration: none;
    color: var(--textcolorinverse);
    font-family: inherit;
    padding: 10px 20px;
    font-size: 18px;
    background-color: none;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px rgba(123, 121, 121, 0.8));

}
.dtnav_link:active,
.dtnav_link:hover{
    background-color: rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;   

}