@media only screen and (max-width: 1024px) {
    .title{
        background-image: url("img/806A6481.jpg") !important;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}
:root{
    --bgcolor: rgb(249, 249, 241);
    --textcolormain: #000000;
    --textcolorinverse: #ffffff;
    --primary-brown: rgb(112, 83, 77);
}

html, body, header, .title {
    width: 100%;
    max-width: 100%;
}
html, body {
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
    background-color: var(--bgcolor);
}
body{
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    color: black;
    max-width: 100%;
    white-space: normal;
}
.title, .title-h1, h1{
    font-family: 'EB Garamond', serif;
}
.title{
    height: 100vh;
    background-image: url("img/806A6060.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 0;
    background-position: center;
    position: relative;
}


.title-info{
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size:32px;
}
--------------------

.title-opacity-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0) 50%, rgba(249,249,241,1) 100%);
}

.title-header {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    width: 80%;
    color: var(--textcolorinverse);
    z-index: 2;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.title-h1{
    text-align: left;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
}


.title, .title-h1, h1{
    font-family: 'EB Garamond', serif;
}

.ex-section{
    margin-top: 20px;
}
.ex-article{
    margin: 0 15%;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto auto;
    gap: 0 50px;

}
.ex-h3{
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.ex-content1{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}
.ex-img{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
}
.ex-content2{
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
footer{
    height: 180px;
    color: rgb(112, 83, 77);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-content{
    margin: 0 5% 0 5%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
}
.footer-title{
    width: 150px;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.contact > p > a{
    color: rgb(112, 83, 77);
}
.contact > h5{
    font-size: 14px;
}
footer > p{
    text-align: center;
    font-size: 14px;
}