@media only screen and (max-width: 1024px) {
    .title{
        background-image: url("../../img/rogk/806A5712.jpg") !important;
    }
    .title-h1{
        text-align: right !important;
    }
    .program > article{
        width: 80vw !important;
        margin: 50px 50px 50px 50px !important;
    }
}
:root{
    --bgcolor: rgb(249, 249, 241);
    --textcolormain: #000000;
    --textcolorinverse: #ffffff;

}

html{
    overflow-x: hidden;
    max-width: 100vw;
    background-color: var(--bgcolor);
}
body{
    font-family: serif;
    margin: 0;
    color: black;
    width: 100vw;
    max-width: 100%;
    white-space: nowrap;
    

}
.title{
    margin-top: -84px;
    padding-bottom: 10vh;
    width: 100vw;
    height: 45vh;
    background-image: url("../../img/rogk/806A5712.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.title-opacity-layer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100.1%;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
}

.title-header {
    position: absolute;
    top: 18%;
    left: 10%;
    right: 10%;
    width: 80%;
    color: var(--textcolorinverse);
    background-color: rgba(0,0,0,0);
    border-radius: 3vw;
    z-index: 2px;
}
.title-h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 100;
    font-family: serif;
}


.info{
    width: 100vw;
    overflow-x: hidden;
}
.info > article{
    margin: 50px;
}
.info > article > p{
    word-wrap: break-word;
    white-space: normal;
    font-size: 20px;
    line-height: 1.5;
}
.info > article > p > a{
    color: rgb(112, 83, 77);
}
h2{
    font-size: 32px;
}



footer{
    height: 180px;
    color: rgb(112, 83, 77);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-content{
    margin: 0 5% 0 5%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
}
.footer-title{
    width: 150px;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.contact > p > a{
    color: rgb(112, 83, 77);
}
.contact > h5{
    font-size: 14px;
}
footer > p{
    text-align: center;
    font-size: 14px;
}