body{
    font-family: sans-serif;
    margin: 0;
    color: black;
    width: 100vw;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px pink solid;
    height: 80px;
}
header > h2 {
    white-space: nowrap;
    width: 40%;
    text-align: center;
    margin: 0 10px 0 10px;
}
header > h2 > a{
    color: black;
    text-decoration: none;
}
  